 <div class="advantages">
    	<div class="advantages-corner-top"></div>
    	<div class="container">
    		<div class="advantages-list">
    			<div class="advantages-item">
    				<div class="advantages-item-image"><span><img src="images/advantages-1.png" alt=""></span></div>
    				<div class="advantages-item-title">Аренда площадей <br>
					от <b>1000 руб</b> за м2. в месяц</div>
    			</div>
    			<div class="advantages-item">
    				<div class="advantages-item-image"><span><img src="images/advantages-2.png" alt=""></span></div>
    				<div class="advantages-item-title">Удобное расположение<br>
					в <b>5 минутах</b> от метро</div>
    			</div>
    			<div class="advantages-item">
    				<div class="advantages-item-image"><span><img src="images/advantages-3.png" alt=""></span></div>
    				<div class="advantages-item-title">Собственный игровой<br>
					<b>детский городок</b> с<br>
					мини-кинотеатром</div>
    			</div>
    			<div class="advantages-item">
    				<div class="advantages-item-image"><span><img src="images/advantages-4.png" alt=""></span></div>
    				<div class="advantages-item-title">Помещения <b>«под ключ»</b>, <br>
					без дополнительных<br>
					вложений</div>
    			</div>
    		</div>
    	</div>
    	<div class="advantages-corner-bottom"></div>
    </div>