    <div class="footer_placeholder"></div>
    <footer class="footer">
        <div class="container">
	        <div class="footer-inner">
		        <div class="footer-info">
		        	<div class="footer-info-title">Аренда коммерческих <br> площадей в Москве, м.Перово.</div>
		        	<div class="footer-info-item"><i class="icon icon-map"></i><span>Юридический адрес: <br>г. Москва, ул. Ленина, дом 1</span></div>
		        	<div class="footer-info-item"><span>ИНН 123456789 <br>ОГРН 987654321</span></div>
		        	<div class="footer-info-item"><i class="icon icon-mail"></i><span>email@.ru</span></div>
		        </div>
		        <div class="footer-logo"><a href="/"><img src="images/logo.png" alt=""></a></div>
		        <div class="footer-phone">
		        	<p>Хотите узнать подробнее об условиях аренды?<br>Позвоните по телефону прямо сейчас:</p>
		        	<div class="footer-phone-call">+7 (495) 455-45-45</div>
		        	<p>Или закажите бесплатный звонок, <br>и мы свяжемся с вами в ближайшее время</p>
		        	<a href="#" class="button btn-border">Обратный звонок</a>
		        </div>
	        </div>
        </div>
    </footer>
</body>
</html>