    <header class="header">
        <div class="header-top">
	        <div class="container">
				<div class="header-menu left">
					<ul>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Для арендаторов</a></li>
					</ul>
				</div>
				<div class="header-logo"><a href="/"><img src="images/logo.png" alt="" /></a></div>
				<div class="header-menu right">
					<ul>
						<li><a href="#">Преимущества ТЦ Карамель</a></li>
						<li><a href="#">Начать сотрудничество</a></li>
					</ul>
				</div>
			</div>
        </div>
        <div class="header-main">
	        <div class="container">
	           <div class="header-info">Аренда коммерческих<br> площадей в Москве, м.Перово.</div>
	           <div class="header-contacts">
	           		<p>Горячая линия по всем вопросам:</p>
	           		<div class="header-contacts-phone">+7 (495) 455-45-45</div>
	           		<a href="#" class="button btn-border btn-shadow">Обратный звонок</a>
	           </div>
	           <div class="header-title"><b>Современный модернизированный <br> торговый центр класса В</b></div>
	           <div class="header-check">
	           		<div class="header-check-item"><i class="icon icon-check"></i><em>5 минут </em>до метро</div>
	           		<div class="header-check-item"><i class="icon icon-check"></i>От <em>1000 руб.</em> за м2 в месяц</div>
	           		<div class="header-check-item"><i class="icon icon-check"></i>Площади <em>от 5 м2</em></div>
	           </div>
	           <div class="header-button">
	          	 <a href="#" class="button">Узнать условия аренды</a>
	           </div>
	        </div>
        </div>
    </header>
  