<div class="numbers">
	<div class="container">
		<div class="mainheading">ТЦ «КАРАМЕЛЬ» В ЦИФРАХ</div>
		<div class="numbers-list">
			<div class="numbers-row">
				<div class="numbers-item">
					<div class="numbers-item-main"><span>14 320</span> кв.м.</div>
					<div class="numbers-item-title">Общая площадь центра 14 320 кв.м.</div>
				</div>
				<div class="numbers-item">
					<div class="numbers-item-main"><span>7 450</span> кв.м.</div>
					<div class="numbers-item-title">Свободные площади под аренду <br> 7 450 кв.м</div>
				</div>
				<div class="numbers-item">
					<div class="numbers-item-main"><span>140</span> машино-мест</div>
					<div class="numbers-item-title">Просторная парковка  на 140 <br>машино-мест</div>
				</div>
			</div>
			<div class="numbers-row">
				<div class="numbers-item">
					<div class="numbers-item-main"><span>6</span> этажей</div>
					<div class="numbers-item-title">6 этажей и 4 лифта</div>
				</div>
				<div class="numbers-item">
					<div class="numbers-item-main"><span>7</span> дней</div>
					<div class="numbers-item-title">Часы работы 8:00 – 23:00 <br>7 дней в неделю</div>
				</div>	
			</div>
		</div>
	</div>
</div>